{
    "semi": false,
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": false,
    "printWidth": 80,
    "trailingComma": "none",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "lf"
}